:root {
  /* Colors */
  --spro-color-brand: #666;
  --spro-color-accent: #0969da;
  --spro-color-success: #1a7f37;
  --spro-color-attention: #bf8700;
  --spro-color-danger: #cf222e;

  /* Border radius */
  --spro-border-radius-01: 16px;

  /* Spacing */
  --spro-spacer: 4px;
}
