@import '@/assets/style/spro/app.scss';

.spro-item-loading-message {
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  color: var(--spro-color-success);
  right: calc(var(--spro-spacer) * 2);
  bottom: var(--spro-spacer);
}

.spro-label {
  position: relative;
}

.spro-severe-damage {}

.spro-light-damage {}

.spro-painted {}

.spro-gear {}

.spro-fuel {}

.spro-advertiser-name {
  display: flex;
  flex: 1;
  text-transform: uppercase;
}

.spro-store-advertiser-name {
  display: flex;
  flex: 1;
  text-transform: uppercase;
}
