@import '@/assets/style/spro/app.scss';

/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
}

body {
  width: 350px;
  height: auto;
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: calc(var(--spro-spacer) * 4);
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: var(--spro-border-radius-01);
  margin-bottom: calc(var(--spro-spacer) * 4);
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.subtitle {
  font-size: 12px;
}

.divider {
  margin: 30px auto 25px;
  width: 50px;
  border: 0.5px dashed #000;
  opacity: 0.1;
}

#feature_hide_visit {
  display: flex;
  align-items: center;

  input {
    margin-right: calc(var(--spro-spacer) * 2);
    cursor: pointer;
  }

  label {
    cursor: pointer;
  }
}

.externalLink {
  color: var(--spro-color-accent) !important;
  text-decoration: none;
}
